nav {
  display: flex;
  align-items: baseline;
}

nav a:hover {
    background-color: rgb(224, 221, 221);
}

main {
  margin: 10px 20px;
}

a {
  text-decoration: none;
  color: black;
}

.nav-links-container {
  display: flex;
  flex-grow: 3;
  justify-content: space-around;
}

.nav-logo-container {
  flex-grow: 1;
}

.nav-wallet-container {
  flex-grow: 1;
}